<section id="character-summary" class="character-summary">
  <h2 class="character-summary__title">Character Summary</h2>
  {% for va in vndata.va|sort(attribute='character.id') %}
    <article id="{{ va.character.id }}" class="character">
      <div class="character__image">
        <a href="{{ va.character.image.url }}">
          <img src="{{ va.character.image.url }}" alt="Image of {{ va.character.name }}"
               class="character__img {% if va.character.imagesexual %}character__img--sexual{% endif %} {% if va.character.imageviolence %}character__img--violence{% endif %}">
        </a>
      </div>
      <div class="character__info">
        <h3 class="character__name">{{ va.character.name or 'Unknown' }} ({{ va.character.original or 'Unknown' }})</h3>
        <dl class="character__details">
          <dt>Apparent Sex</dt>
          <dd>{{ {'m': 'Male', 'f': 'Female', 'b': 'Both'}.get(va.character.sex[0], 'Unknown') }}</dd>

          <dt>Real Sex</dt>
          <dd>{{ {'m': 'Male', 'f': 'Female', 'b': 'Both'}.get(va.character.sex[1], 'Unknown') }}</dd>

          <dt>Age</dt>
          <dd>{{ va.character.age or 'Unknown' }}</dd>

          <dt>Birthday</dt>
          <dd>{{ '{} / {}'.format(va.character.birthday[0], va.character.birthday[1]) if va.character.birthday else 'Unknown' }}</dd>

          <dt>Blood Type</dt>
          <dd>{{ va.character.blood_type or 'Unknown' }}</dd>

          <dt>Measurements</dt>
          <dd>{{ '{} cm / {} kg'.format(va.character.height, va.character.weight) if va.character.height and va.character.weight else 'Unknown' }}</dd>

          <dt>Three Sizes</dt>
          <dd>
            {% if va.character.bust and va.character.waist and va.character.hips %}
              B: {{ va.character.bust }} / W: {{ va.character.waist }} / H: {{ va.character.hips }} ({{ va.character.cup }} Cup)
            {% else %}
              Unknown
            {% endif %}
          </dd>

          <dt>Voice By</dt>
          <dd>{{ va.staff.name or 'Unknown' }}</dd>

          <dt>Visual Novels</dt>
          <dd>
            <ul class="character__vn-list">
              {% for vns in va.character.vns %}
                <li>{{ vns.role }} - {{ vns.title }}</li>
              {% endfor %}
            </ul>
          </dd>

          {% if va.character.description %}
            <dt>Description</dt>
            <dd>{{ va.character.description }}</dd>
          {% endif %}
        </dl>
      </div>
    </article>
  {% endfor %}
</section>