<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ vndata.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='navigation.js') }}"></script>
</head>
<body>
    <div class="background-image" style="background-image: url('{{ vndata.image.url }}');"></div>
    <main>
        {% include 'vn/navigation.html' %}
        {% include 'vn/vn_details.html' %}
        {% include 'vn/vn_tags.html' %}
        {% include 'vn/character_summary.html' %}
        {% include 'vn/screenshots.html' %}
    </main>
</body>
</html>