<div class="vndetails">
    <div class="vnimg">
        <img src="{{ vn_image_url }}" alt="Image of the VN">
    </div>
    <table class="stripe">
        <tbody>
            <!-- Titles -->
            <tr>
                <td>Titles</td>
                <td>
                    <ul class="title_list">
                        {%- for title in vn_titles -%}
                            {%- if title.official -%}
                                <li class="official_title">{{ title.title }}</li>
                            {%- else -%}
                                <li class="non_official_title">{{ title.title }}</li>
                            {%- endif -%}
                        {%- endfor -%}
                    </ul>
                </td>
            </tr>
            <!-- Aliases -->
            <tr>
                <td>Aliases</td>
                <td>
                    {%- for alias in vn_aliases -%}
                        {{ alias }}{%- if not loop.last -%}, {%- endif -%}
                    {%- endfor -%}
                </td>
            </tr>
            <!-- Release Date -->
            <tr>
                <td>Release Date</td>
                <td>{{ vn_released }}</td>
            </tr>
            <!-- Developer -->
            <tr>
                <td>Developer</td>
                <td>
                    {%- for developer in vn_developers -%}
                        {{ developer }}{%- if not loop.last -%}, {%- endif -%}
                    {%- endfor -%}
                </td>
            </tr>
            <!-- Platforms -->
            <tr>
                <td>Platforms</td>
                <td>
                    {%- for platform in vn_platforms -%}
                        {{ platform }}{%- if not loop.last -%}, {%- endif -%}
                    {%- endfor -%}
                </td>
            </tr>
            <!-- Languages -->
            <tr>
                <td>Languages</td>
                <td>
                    {%- for language in vn_languages -%}
                        {{ language }}{%- if not loop.last -%}, {%- endif -%}
                    {%- endfor -%}
                </td>
            </tr>
            <!-- Play Time -->
            <tr>
                <td>Play Time</td>
                <td>
                    {%- if vn_length == 1 -%}
                        Very Short
                    {%- elif vn_length == 2 -%}
                        Short
                    {%- elif vn_length == 3 -%}
                        Middle
                    {%- elif vn_length == 4 -%}
                        Long
                    {%- elif vn_length == 5 -%}
                        Very Long
                    {%- else -%}
                        Unknown
                    {%- endif -%}
                    {%- if vn_length_minutes -%}
                        ({{ vn_length_minutes // 60 }}h{{ vn_length_minutes % 60 }}m)
                    {%- endif -%}
                </td>
            </tr>
            <!-- Description -->
            <tr>
                <td>Description</td>
                <td>
                    {%- if vn_description -%}
                        {{ vn_description }}
                    {%- endif -%}
                </td>
            </tr>
        </tbody>
    </table>
</div>