{% extends 'base.html' %}

{% block header %}
    <h1 style="display: none">{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %} 

<div class="register">
    <nav class="top-navbar">
        <a href="/">CLICK HERE TO HOME</a>
    </nav>
    <div class="bg">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="glass">
        <div class="text">Register</div>
        <form action="" method="post">
            <input type="text" placeholder="UserName" name="username">
            <input type="password" placeholder="Password" name="password">
            <input type="password" placeholder="Confirm Password" name="confirm-password">
            <button>-></button>
        </div>
        </form>
</div>

{% endblock %}