.gitignore

.vscode/
.pytest_cache/

__pycache__/

Others/
Temp/
Debug/
WorkPlace/


largeFile.txt

2_Computer_Science/Operating_System_Concepts/experiment/EXP4/src/实验4_相关材料/src/7/build/kernel.bin
2_Computer_Science/Operating_System_Concepts/experiment/EXP4/src/实验4_相关材料/src/6/build/kernel.bin