.DS_Store
celerybeat.pid
django.pot
*.bak*
.vscode/
.idea
modules/permission/migrations
*.sln
*.pyc
*.gv
*.sql
*.env
*.sh
*.pyi
*.log
/data/*
static/assets*
venv
USERRES
rule_engine
profiles
debug
static_root
config/local_settings.py
dev
test.env
local_settings.py

