body {
    background-color: #000;
    color: #fff;
    background-image: var(--bg-img);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* register.html */
.register {
    height: -webkit-fill-available;
    width: 360px;
    height: 480px;
    position: relative;
    backdrop-filter: brightness(0.3);
    overflow: hidden;
} @media (min-width: 360px) {
    .register { width: 100%; }
} @media (min-height: 480px) {
    .register { min-height: 100vh; }
}

.register .top-navbar {
    width: 100%;
    height: 3rem;
    position: fixed;
    top: 0;
    z-index: 1;
    font: italic bolder 2rem 'Times New Roman', Times, serif;
    text-align: center;
    color: whitesmoke;
    background-color: #0000004d;
    backdrop-filter: blur(10px);
} .register .top-navbar a {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    text-decoration: none;
    color: whitesmoke;
} .register .top-navbar a:hover {
    color: #fff;
}

.register .glass {
    position: absolute;
    width: 360px;
    height: 480px;
    top: calc(50% - 240px);
    left: calc(50% - 180px);
    border-radius: 20px;
    color: #eee;
    background: rgba(255, 255, 255, 0.05);

    backdrop-filter: blur(4px);
    box-shadow: inset 1px 1px 6px rgba(255, 255, 255, 0.3), 
                2px 2px 15px rgba(0, 0, 0, 0.5);

    transition: box-shadow 0.3s;
    animation: register-am-glass ease-out 1s 0.2s backwards;
} @keyframes register-am-glass {
    0% { transform: translateY(8px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
} .register .glass:hover {
    box-shadow: inset 1px 1px 3px rgba(255, 255, 255, 0.9),
                4px 4px 25px rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(7px);
}

.register .bg {
    position: absolute;
    width: 800px;
    height: 800px;
    top: calc(50% - 400px);
    left: calc(50% - 400px);
    animation: register-am-bg ease-out 1s;
} @keyframes register-am-bg {
    0% { transform: scale(0) rotateZ(60deg); }
    100% { transform: scale(1, 1) rotateZ(0); }
}

.register input {
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #666;
    width: 80%;
    height: 45px;
    color: #eee;
    font-size: 18px;
    margin-left: 34px;
    margin-top: 40px;
}

.register .text {
    display: inline-block;
    font-size: 26px;
    margin-left: 34px;
    margin-top: 50px;
}

.register button {
    border: none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color: #eee;
    font-weight: bold;
    font-size: 28px;
    margin-left: 145px;
    margin-top: 35px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 2px 10px #111;
    transition: all 0.3s;
} .register button:hover {
    width: 160px;
    border-radius: 70px;
    margin-left: 105px;
    box-shadow: 0px 0px 10px #999, inset 0px 0px 5px #333;
}

.register span {
    background: #fff;
    position: absolute;
    top: 117px;
    left: 143px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 1px 1px 50px #000;
} .register span:nth-child(1) {
    top: 117px;
    left: 143px;
    width: 120px;
    height: 120px;
    background: #050200;
    animation: register-am-span ease-in-out 3s infinite alternate;
} .register span:nth-child(2) {
    top: 518px;
    left: 434px;
    width: 200px;
    height: 200px;
    background: #4ecdb8;
    animation: register-am-span ease-in-out 4s infinite alternate-reverse;
} .register span:nth-child(3) {
    top: 245px;
    left: 483px;
    width: 60px;
    height: 60px;
    background: #002b4f;
    animation: register-am-span ease-in-out 2.5s 0.5s infinite alternate;
} .register span:nth-child(4) {
    top: 465px;
    left: 200px;
    width: 100px;
    height: 100px;
    background: #f1a25c;
    animation: register-am-span ease-in-out 2s 0.5s infinite alternate-reverse;
} 

@keyframes register-am-span {
    0% { transform: translateY(0); }
    100% { transform: translateY(-30px); }
}


/* login.html */

.login {
    height: -webkit-fill-available;
    width: 360px;
    height: 480px;
    position: relative;
    backdrop-filter: brightness(0.3);
    overflow: hidden;
} @media (min-width: 360px) {
    .login { width: 100%; }
} @media (min-height: 480px) {
    .login { min-height: 100vh; }
}

.login .top-navbar {
    width: 100%;
    height: 3rem;
    position: fixed;
    top: 0;
    z-index: 1;
    font: italic bolder 2rem 'Times New Roman', Times, serif;
    text-align: center;
    color: whitesmoke;
    background-color: #0000004d;
    backdrop-filter: blur(10px);
} .login .top-navbar a {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    text-decoration: none;
    color: whitesmoke;
} .login .top-navbar a:hover {
    color: #fff;
}

.login .glass {
    position: absolute;
    width: 360px;
    height: 480px;
    top: calc(50% - 240px);
    left: calc(50% - 180px);
    border-radius: 20px;
    color: #eee;
    background: rgba(255, 255, 255, 0.05);

    backdrop-filter: blur(4px);
    box-shadow: inset 1px 1px 6px rgba(255, 255, 255, 0.3), 
                2px 2px 15px rgba(0, 0, 0, 0.5);

    transition: box-shadow 0.3s;
    animation: login-am-glass ease-out 1s 0.2s backwards;
} @keyframes login-am-glass {
    0% { transform: translateY(8px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
} .login .glass:hover {
    box-shadow: inset 1px 1px 3px rgba(255, 255, 255, 0.9),
                4px 4px 25px rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(7px);
}

.login .bg {
    position: absolute;
    width: 800px;
    height: 800px;
    top: calc(50% - 400px);
    left: calc(50% - 400px);
    animation: login-am-bg ease-out 1s;
} @keyframes login-am-bg {
    0% { transform: scale(0) rotateZ(60deg); }
    100% { transform: scale(1, 1) rotateZ(0); }
}

.login input {
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #666;
    width: 80%;
    height: 45px;
    color: #eee;
    font-size: 18px;
    margin-left: 34px;
    margin-top: 40px;
}

.login .text {
    display: inline-block;
    font-size: 26px;
    margin-left: 34px;
    margin-top: 50px;
}

.login button {
    border: none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color: #eee;
    font-weight: bold;
    font-size: 28px;
    margin-left: 145px;
    margin-top: 71px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 2px 10px #111;
    transition: all 0.3s;
} .login button:hover {
    width: 160px;
    border-radius: 70px;
    margin-left: 105px;
    box-shadow: 0px 0px 10px #999, inset 0px 0px 5px #333;
}

.login span {
    background: #fff;
    position: absolute;
    top: 117px;
    left: 143px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 1px 1px 50px #000;
} .login span:nth-child(1) {
    top: 117px;
    left: 143px;
    width: 120px;
    height: 120px;
    background: purple;
    animation: login-am-span ease-in-out 3s infinite alternate;
} .login span:nth-child(2) {
    top: 518px;
    left: 434px;
    width: 200px;
    height: 200px;
    background: orange;
    animation: login-am-span ease-in-out 4s infinite alternate-reverse;
} .login span:nth-child(3) {
    top: 196px;
    left: 483px;
    width: 60px;
    height: 60px;
    background: cyan;
    animation: login-am-span ease-in-out 2.5s 0.5s infinite alternate;
} @keyframes login-am-span {
    0% { transform: translateY(0); }
    100% { transform: translateY(-30px); }
}


/* index.html */
.index .navbar {
    width: 100%;
    height: 4rem;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8) !important;
    backdrop-filter: blur(10px);
}

.index .main-top {
    margin: 0 auto;
    margin-top: 4rem;
}

.index .main-content .bookshelf{
    width: 80%;
    margin: 0 auto;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
    border: 1px solid #555;
    backdrop-filter: blur(3px);
    background: #46464699;
    transition: box-shadow 0.3s;
} .index .main-content .bookshelf:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8), 
                2px 2px 20px rgba(0, 0, 0, 0.8);    
    backdrop-filter: blur(8px);
}


:root {
    counter-reset: card-counter;
}

.index .bookshelf .card {
    counter-increment: card-counter;
    background-color: #00000099;
    box-shadow: inset 1px 1px 6px rgba(255, 255, 255, 0.3), 
                2px 2px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: all 0.3s;
    animation: card-fade-in ease-out 1s 0.2s backwards;
} @keyframes card-fade-in {
    0% { transform: translateY(8px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
} .index .bookshelf .card:hover {
    transform: translateY(-5px) scale(1.01, 1.01);
    box-shadow: inset 1px 1px 3px rgba(255, 255, 255, 0.9),
                4px 4px 25px rgba(0, 0, 0, 0.9);
}

.index .footer {
    width: 100%;
    height: 4rem;
    margin: 0 auto;
    margin-top: 4rem;
    text-align: center;
    font: italic bolder 2rem 'Times New Roman', Times, serif;
    text-decoration: underline;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -moz-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    -moz-text-stroke-color: #fff;
    text-shadow: 12px 12px rgb(137, 171, 171);
    animation: footer-fade-in ease-out 1s 0.2s backwards;
} @keyframes footer-fade-in {
    0% { transform: translateY(8px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}



/* book.html */
.book .top-navbar {
    width: 100%;
    height: 3rem;
    position: fixed;
    top: 0;
    z-index: 1;
    font: italic bolder 2rem 'Times New Roman', Times, serif;
    text-align: center;
    color: whitesmoke;
    background-color: #0000004d;
    backdrop-filter: blur(10px);
} .book .top-navbar a {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    text-decoration: none;
    color: whitesmoke;
} .book .top-navbar a:hover {
    color: #fff;
}

.book .main-top {
    margin: 0 auto;
    margin-top: 3rem;
}

.book .pages {
    margin: 0 auto;
    width: 85%;
    background-color: #0000004d;
} 

.book .pages img {
    display: block;
    margin: 0 auto;
    width: 99%;
} .book .pages img::after {
    /* TODO */
}