<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HELLO</title>
    <style>
        body {
            background-color: #000;
            color: #fff;
        }
        h1 {
            text-align: center;
            font-size: 4em;
        }
    </style>
</head>
<body>
    {% if name %}
        <h1>Hello {{name}}!</h1>
        <img src="../static/img/00038.webp" alt="">
    {% else %}
        <h1>Hello World!</h1>
    {% endif %}
</body>
</html>