<!DOCTYPE html>
<html lang="en" class="notranslate" translate="no">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google" content="notranslate" />
  <meta name="robots" content="notranslate" />
  <title>VNS INDEX</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/index.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/header.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/search.css') }}">
</head>
<body>
  {% include 'vn/header.html' %}
  <main>
    <div class="vns" id="vnsContainer">
      {% for vn in vns %}
      <div class="vn {% if vn.image__sexual %}vn-sexual{% endif %} {% if vn.image__violence %}vn-violent{% endif %}">
        <a href="{{ url_for('vn.show', id=vn.id) }}">
          <div class="vn-image-container">
            <img src="{{ vn.thumbnail }}" alt="{{ vn.title }}"
                 class="{% if vn.image__sexual %}index-cover__sexual{% endif %} {% if vn.image__violence %}index-cover__violence{% endif %}">
          </div>
          <h2>{{ vn.title }}</h2>
        </a>
      </div>
      {% endfor %}
    </div>
    <div class="pagination">
      <button id="firstPage" class="pagination-button"><span>First</span></button>
      <button id="prevPage" class="pagination-button">&#x2039; <span>Prev</span></button>
      <div id="pageNumbers" class="page-numbers"></div>
      <button id="nextPage" class="pagination-button"><span>Next</span> &#x203A;</button>
      <button id="lastPage" class="pagination-button"><span>Last</span></button>
    </div>
  </main>
  {% include 'vn/search.html' %}
  <script src="{{ url_for('static', filename='/js/index.js') }}"></script>
  <script src="{{ url_for('static', filename='/js/header.js') }}"></script>
  <script src="{{ url_for('static', filename='/js/search.js') }}"></script>
</body>
</html>