<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ vndata.title }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/Meyer.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/navigation.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/vn-details.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/vn-tags.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/character-summary.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/screenshots.css') }}">
</head>
<body>
  <div class="background-image" style="background-image: url('{{ vndata.image.url }}');"></div>
  <main>
    {% include 'vn/navigation.html' %}
    {% include 'vn/vn_details.html' %}
    {% include 'vn/vn_tags.html' %}
    {% include 'vn/character_summary.html' %}
    {% include 'vn/screenshots.html' %}
  </main>
  <script src="{{ url_for('static', filename='js/navigation.js') }}"></script>
  <script src="{{ url_for('static', filename='js/screenshot-carousel.js') }}"></script>
</body>
</html>