/* Sort Container Styles */
.sort-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1rem;
}

/* Sort Select Styles */
#sortSelect {
  padding: 0.25rem;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-right: 0.5rem;
}

/* Sort Order Styles */
.sort-order {
  display: flex;
  align-items: center;
}

#sortOrder {
  display: none;
}

#sortOrder + label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  padding: 0;
}

#sortOrder + label svg {
  transition: transform 0.3s ease;
}

#sortOrder:checked + label svg {
  transform: rotate(180deg);
}