.content{
    width: 640px;
    height: 640px;
    margin: 100px auto;
    position: relative;
    background-color: black;
}
.btn{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
}
.btn button{
    background: none;
    border: none;
    background-size: 100% 100%;

    cursor: pointer;
    outline: none;

    position: absolute;
    left: 50%;
    top: 50%;
}
.startBtn button{
    width: 200px;
    height: 80px;
    background-color: rgb(192, 186, 197);
    margin-left: -100px;
    margin-top: -40px;
}

.puseBtn{
    display: none;
}

.pauseBtn button{
    width: 70px;
    height: 70px;
    background-color: aliceblue;
    margin-left: -35px;
    margin-top: -35px;
}

#snakeWrap{
    width: 600px;
    height;
}